html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #322e2d;
  color: #f6f0ee;
  margin-left: 4rem;
  margin-right: 4rem;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 5rem;
}

.get-hero, img {
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
}

h1 {
  color: #e8d4b2;
}

a {
  color: #fee389;
}
